.container{
    background-color: rgb(0, 100, 50);
    height:300px;
    padding-top: 50px;
    margin: 50px;
    padding-left: 50px;
}
.firstrow{
    /* color:#03fc94; */
    color:white;
}
button{
    background-color:  #006432;
    border:1px solid #03fc94;
    color:#03fc94;
    height: 30px;
}
/* .grid-item::after{
    content:'';
    width:10px;
    height: 57%;
    background: linear-gradient( #ff469f,#ff6062);
    position:absolute;
    left:-40px;
    top:8px;
} */
.grid-container1{
    display:grid;
    grid-template-columns: auto auto auto;
    column-gap: 70px;
    row-gap: 70px;
    justify-content: center;   

}
.grid-item,.grid-item6{
    background-color:  rgb(0, 100, 50);
    border-radius:150px;
    height:220px;
    width:220px;
    text-align: center;
    color:white;
    font-size:larger;
}
